.acessibilidade {
	/*background-color:#9C3;*/
	background-color:#000000;
	color:#FFF;
}

.acessibilidade #destaques, .acessibilidade #eventos, .acessibilidade #onde-estamos, .acessibilidade #menu_lateral, .acessibilidade #saiba-mais {

	background-color:#000000;
	color:#FFF;
}

.acessibilidade #conteudo {
	background-color:#000000;
}

.acessibilidade a {
	color:#FF0;
}


.acessibilidade #destaques a, .acessibilidade #eventos a, .acessibilidade #lista_campus a, .acessibilidade #menu_lateral a {
	color:#FF0;
}



.acessibilidade #acessibilidade {
	background-color:#000000;
}

.acessibilidade #acessibilidade a {
	color:#FF0;
}



.acessibilidade h1 {
	background-color:#FFFF00;
	width:310px;
}

.acessibilidade h2 {
	background-color:#FFF;
	color:#000;
}


.acessibilidade #sombra_esq, .acessibilidade #sombra_dir {
	background-image:none;
}


.acessibilidade #pesquisar input#mod_search_searchword {
	background-color:#000;
	color:#FFF;
}

.acessibilidade #navegacao a {
	color:#FF0;
}

.acessibilidade .menu-email a {
	color:#FF0;
}


/* Banner
=============================================*/
.acessibilidade .pix_diapo158 {
	background-color:#000;
}

.acessibilidade #menuBaner center {
	color:#FF0;	
}


.acessibilidade #menu_campi_lista p {
	background-color:#000;
}

.acessibilidade #menu_campi_lista .ativo {
	background-color:#FFF;
}

/* Banner pequenos
=============================================*/
.acessibilidade #banners img {
	background-color: #FF0;	
}
/* Artigos
=============================================*/

.acessibilidade #artigos h3 a {
	color:#FF0;
}

.acessibilidade #artigos p {
	color:#FFF;	
}

.acessibilidade #barra-cima {
	border:none;
	display:none;
}

.acessibilidade #artigos h2 {
	background-color:#000;
}

.acessibilidade #menu_interno a {
	color:#FFFF00;
}


.acessibilidade .img_caption {
	margin-bottom:3px;
}

/* Menu superior
=============================================*/

.acessibilidade #menu .moduletablesegundomenu {
	background-color:#000;
}

.acessibilidade #menu .moduletableprimeiro_menu, .acessibilidade #menu .moduletableprimeiro_menu ul li {
		background-color:#000;
}

.acessibilidade #menu .moduletableprimeiro_menu a {
		background-color:#000;
		color:#FFFF00;
}


/* Artigos Institucionais
=============================================*/
.acessibilidade #artigos h4 {
	color:#FF0;
}

.acessibilidade #artigos .sumario_ir {
	color:#F00;
}

.acessibilidade #artigos #legenda_img {
	color:#FFF;
}

/* CALENDARIO
================================================================= */

.acessibilidade #box-calendario_letivo-ano {
	text-align:center;
	font-size:16px;
	color:#FF0;
}

.acessibilidade #mes {
	margin-top: 31px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	background-color: ;
	height: ;
	width: 170px;
}
.acessibilidade #mes td {
	text-align: center;
	font-size: 12px;
	height: 24px;
	width: 24px;
	vertical-align: middle;
	line-height: 24px;
	background-color: ;
}
.acessibilidade .cal-tit-mes td {
	font-weight: bold;
	text-transform: uppercase;
	background-color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-right-width: none;
	border-right-style: none;
	border-right-color: none;
}
.acessibilidade .cal-semana td {
	font-weight: bold;
	background-color:#000;
	position:relative;
	border-right-width: none;
	border-right-style: none;
	border-right-color: none;
}
.acessibilidade .cal-semana1, tr.cal-semana2, tr.cal-semana3, tr.cal-semana4, tr.cal-semana5, tr.cal-semana6 {
	font-weight:none ;
	background-color:none ;
}
.acessibilidade .cal-feriado {
	font-weight: bold;
	color: #FF0000;
}
.acessibilidade .cal-doming {
	font-weight: bold;
	color: #FF0000;
}

.acessibilidade .dias{
	text-align:center;
}

/* Merenda escolar */
.merenda_escolar th {
	color:#000;
}