body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
}
	

#menu {
	display:none;
}

#menu_interno {
	display:none;
}

#acessibilidade, .menu-email, #pesquisar {
	display:none;
}

#artigos {
	font-size:16px;
}

.img_caption {
	margin-right:auto;
	margin-left:auto;
}

#artigos h2 span {
	color:#FF6600;
	font-family:Arial,Helvetica,sans-serif;
	font-size:24px;
	font-weight:bold;
	margin-left:0;
	padding-top:30px;
}

#artigos h3 a {
	font-weight:bold;
	color:#666666;
	font-size:18px;
	font-weight:normal;
	line-height:25px;
	text-decoration:none;
}


#artigos .createdby {
	color:#999999;
	font-family:Tahoma,Verdana,Arial,sans-serif;
	font-size:12px;
	line-height:1.3em;
}

#fimdocorpo_conteudo {
	display:none;
}

#rodape {
	border-top:2px solid #CCCCCC;

	clear:both;
	font-size:11px;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	padding-bottom:20px;
	padding-top:5px;
	text-align:center;
	width:100%;
	position:absolute;

	bottom:0;
}