html {
	height: 100%;
	margin-bottom: 0px;
}
body {
	background-color:#F8F8F8;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #666666;
}

p, h1, ul, h3, h4{
	margin:0px;
}
h1 {
color:#588CB8;
font-size:12px;
width:160px;
}

h1 img {
	padding: 14px 0 0 0; 
	width:221px;
	height:75px;	
}

h2 {
	/*background:none repeat scroll 0 0 #F8F8F8;*/
	/*background:url("../images/pagina_inicial/h3.png") repeat-x scroll left top; /*transparent*/
	background:#F2F2F2;
	font-family:Arial,Helvetica,sans-serif;
	font-size:122%;
	line-height:20px;
	margin:0;
	margin-bottom:5px;
	padding-left:5px;
	width:auto;
	display:block;
	font-weight:bold;
	color:#999999;
}

#pre_conteudo {
	/*width:1024px;*/
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;

}

#conteudo {
	position:relative;
	background-color: #FFFFFF;
	margin:0 auto;
	width:960px;
	/*height:682px;*/
	padding-bottom:290px;
}

#cont_dinamico{
width:78%;
}


.clear{ 
clear:both; 
}

.item41{
	background:url("../images/ico/brasil.gif") no-repeat scroll left;
}

.item42{
	background:url("../images/ico/ingles.gif") no-repeat scroll left;
}

.item40{
	background:url("../images/ico/italia.gif") no-repeat scroll left;
}



/*FUNDO
==============================*/
#sombra_esq {
	float:left;
	width:22px;
	height:550px;
	background-image:url(../images/fundo/bgr_left.jpg);
}
#sombra_dir {
	float:right;
	width:22px;
	height:550px;
	background-image:url(../images/fundo/bgr_right.jpg);
}

/*Barra: Governo Federal
==========================================*/
img {
	border:0 none;
}
#caixa {
	width:1024px;
}

/* NOVA BARRA DO MEC * /

#barraMec {
	background:url("../images/header/barra_topo/barra_gov_federal.jpg");
	height:35px;
	margin: 2px auto;
    width: 93.9%;
	}

#barraMec #barra_superior_esq{
	width:1000px;
	height:35px;
	/*background:url("../images/header/barra_topo/barra_superior_esq.png") no-repeat;* /
	float:left
}

#barraMec #barra_superior_esq a{
	display:block;
	padding:0;
	border:0;
	text-decoration:none;
	width:103px;
	height:27px;
	background:url("../images/header/barra_topo/barra_superior_ministerio.png") no-repeat;
	margin:6px 0 0 30px;
}

#barraMec #barra_superior_dir{
	width:133px;height:35px;
	/*background:url("../images/header/barra_topo/barra_superior_dir.jpg") no-repeat;* /
	/*float:right;* /
}
#barraMec #barra_superior_dir a{
	display:block;padding:0;border:0;text-decoration:none;width:110px;height:29px;
	background:url("../images/header/barra_topo/barra_superior_brasil.png") no-repeat;
	margin:3px 0 0 5px;

	top: 3px;
	position: relative;
	left: 840px;
}


#barra-brasil-v3 {
    background: none repeat scroll 0 0 #00500F;
    clear: both;
    height: 28px;
    min-width: 1000px;
    overflow: hidden;
    position: relative;

}

#barra-brasil-v3 span {
    background: url("../images/header/barra_topo/barra-brasil-v3-verde.gif") repeat-x scroll 0 bottom transparent;
    display: block;
    height: 28px;
    width: 50%;
}

#barra-brasil-v3 span .imagemGov {
    background: url("../images/header/barra_topo/barra-brasil-v3-verde.gif") no-repeat scroll right top transparent;
    height: 24px;
    left: 48%;
    margin-left: -500px;
    position: absolute;
    top: 4px;
    width: 1000px;
}

#barra-brasil-v3 span .brasilgov {
    border: 0 none !important;
    display: block;
    float: right;
    height: 24px;
    width: 100px;
}

/* Fim de NOVA BARRA DO MEC */

/* NOVA BARRA DO MEC 2 */

#barra-brasil-v3 {
    background: none repeat scroll 0 0 #00500F;
	/*border-bottom: #FFB400 1px solid;*/
    clear: both;
    height: 28px;
    min-width: 1000px;
    overflow: hidden;
    position: relative;

}

#barra-brasil-v3 #span {
	border-bottom: #006B0A 1px solid;
    display: block;
    height: 26px;

    width: 960px;
	margin-left:auto;
	margin-right:auto;
}

/* Borda amarela */
	#barra-brasil-v3 #borda_esquerda {
		border-bottom: #FFB400 1px solid;
	
		height: 27px;
		width: 60%;
	
		float: left;
	}
	#barra-brasil-v3 #borda_direita {
		border-bottom: #FFB400 1px solid;
	
		height: 27px;
		width: 960px;
	
		top:0;
		position:absolute;
	}
/* FIM DE Borda amarela */


#barra-brasil-v3 #span .imagemGov {
	border-bottom: #006B0A 1px solid;
    background: url("../images/header/barra_topo/barra-brasil-v3-verde2.gif") no-repeat scroll right bottom transparent;
    height: 28px;
    width: 966px;
}

#barra-brasil-v3 #span .brasilgov {
    border: 0 none !important;
    display: block;
    float: right;
    height: 24px;
    width: 100px;
	text-decoration: none;
}

/* Fim de NOVA BARRA DO MEC */
/*==========================================*/

/*Geral
============================================*/
.links_pdf a {
	border:0 none;
	line-height:20px;
	text-decoration:none;
	background:url("../images/ico/link_pdf.gif") no-repeat scroll right transparent;
	padding-right:17px;
}
.links_pdf_nao {
	border:0 none;
	line-height:20px;
	text-decoration:none;
	background:none;
	padding-right:17px;
}

/*Cabeçalho
============================================*/

#cabecalho {
	margin:0 auto;
	width:960px;
}

#logo_geral {
	width:100%;
}

#menu{
	position:absolute;
	top:102px;
	width:103%;
	left:0px;
	z-index:2147483647;
}

/*==========================================*/


/* Menu de cima (1 e 2)
===========================================*/


/*** ESSENTIAL STYLES ***/
.jt-menu, .jt-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.jt-menu {
	line-height:	1.0;
}
.jt-menu ul {
	position:		absolute;
	top:			-999em;
	width:			15em; /* left offset of submenus need to match (see below) */
}
.jt-menu ul li {
	width:			100%;
}
.jt-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.jt-menu li {
	float:			left;
	position:		relative;
}
.jt-menu a {
	display:		block;
	position:		relative;
	padding-top: 0;
	padding-bottom: 0;
}
.jt-menu li:hover ul,
.jt-menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.jt-menu li:hover li ul,
ul.jt-menu li.sfHover li ul {
	top:			-999em;
}
ul.jt-menu li li:hover ul,
ul.jt-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.jt-menu li li:hover li ul,
ul.jt-menu li li.sfHover li ul {
	top:			-999em;
}
ul.jt-menu li li li:hover ul,
ul.jt-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.jt-menu {
	/*float:			left;*/
	/*margin-bottom:	1em;*/
}
.jt-menu a {
	border: none;
	
    background-position:left top;
    background-repeat:no-repeat;
    color:#FFFFFF;
    display:block;
    font-family:Arial,Helvetica,sans-serif;
    font-size:96%;
    font-weight:bold;
    line-height:25px;
   padding-left:8px;
  padding-right:8px;
    text-decoration:none;
}


/*** Configuração do menu da pagina ***/
.moduletableprimeiro_menu {
	background: #3B6B36;
	width:97%;
	height:27px;

	border-radius: 5px;
}

.moduletableprimeiro_menu ul {
	border-radius: 5px;
}

.moduletableprimeiro_menu a {
	/*border-right: #FFF 1px solid;*/
	/*background-image:url(../../../../templates/ifce/images/header/nav/divisor.gif);*/	
	/*line-height: 12px;*/
}

/* Borda */
.moduletableprimeiro_menu item-2 a, .moduletableprimeiro_menu item-2 a:hover {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.moduletableprimeiro_menu li {
	border-right: #FFFFFF 1px solid;
}
.moduletablesegundomenu li {
	border-right: #7AB14D 1px solid;
}
/* Traço separador */
.moduletableprimeiro_menu > ul > li,
.moduletableprimeiro_menu > ul > li:first-child,
.moduletablesegundomenu > ul > li,
.moduletablesegundomenu > ul > li:first-child {
	margin-top: 5px;
	height: 18px;
}

.moduletableprimeiro_menu > ul > li > a,
.moduletableprimeiro_menu > ul > li > a:hover,
.moduletablesegundomenu > ul > li > a,
.moduletablesegundomenu > ul > li > a:hover {
	margin-top: 5px;
	top: -9px;
	border-radius: none;
}
/* Fim de traço separador */

.moduletableprimeiro_menu li:last-child,
.moduletablesegundomenu li:last-child {
	border: none;
}
/* FIM DE Arredondando borda */

.moduletableprimeiro_menu ul > li li,
.moduletablesegundomenu ul > li li {
	/*height:27px;*/
	z-index:9999;
}

.moduletableprimeiro_menu li li,
.moduletablesegundomenu li li {
	border: none;
	height: auto;
}
.moduletableprimeiro_menu li li:first-child,
.moduletablesegundomenu li li:first-child {
	height:25px;
	border-radius: 0px;
}
.moduletableprimeiro_menu li li:first-child a
.moduletablesegundomenu li li:first-child a {
	border-radius: 0px;
}

/* Setas */
.moduletableprimeiro_menu ul li .sf-sub-indicator,
.moduletablesegundomenu ul li .sf-sub-indicator {
	/*
	background: url('../../../templates/ifce/images/template_novo/top_menu/menu-seta1.png') -2.5px 1px no-repeat;
	top: 0.8em;
	right: 10.2px;
	*/
}
.moduletableprimeiro_menu ul li ul .sf-sub-indicator,
.moduletablesegundomenu ul li ul .sf-sub-indicator {
	/*background: none;*/
}
/* FIM DE Setas */


.jt-menu li:hover, .jt-menu li.sfHover,
.jt-menu a:focus, .jt-menu a:hover, .jt-menu a:active {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.jt-menu li li:hover, .jt-menu li li.sfHover,
.jt-menu li li a:focus, .jt-menu li li a:hover, .jt-menu li li a:active {
	border-radius: 0px;
}




/*** ESSENTIAL STYLES 2 ***/

.jt-menu a, .jt-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#ffffff;
}

.jt-menu li {
	background:	#3B6B36;
}
.jt-menu li li {
	background: #3B6B36;
}
.jt-menu li li li {
	background: #3B6B36;
	right: -53px;
	border-left: #FFF 1px solid;
}
.jt-menu li li li, .jt-menu li li li:last-child {
	background: #3B6B36;
	right: -53px;
	border-left: #FFF 1px solid;
}
.jt-menu li li li:first-child {
	background: #3B6B36;
	right: -53px;
	border-left: none;
	border-top: #FFF 1px solid;
}



.sf-shadow ul {
	background: none;
}

#menu ul li ul li a{
	background-image:none;
}


.jt-menu li:first-child, .jt-menu li.first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #3B6B36;
	background-position:right top;
	background-repeat:no-repeat;
	float:left;
	list-style:none outside none;
	margin:0;
}

/*.jt-menu li.first-child a {
	background-image:none;
}*/

.jt-menu a:active {
	background: #F7AB14D;
}

.jt-menu li:last-child, .jt-menu li.last-child {
}

.jt-menu li:hover, .jt-menu li.sfHover,
.jt-menu a:focus, .jt-menu a:hover, .jt-menu a:active {
	background:		#7AB14D;
    color: #FFF;
	outline:		0;
}

.jt-menu li .separator {
	display: block;
	border-left:	1px solid #fff;
	border-top:		none;/*1px solid #CFDEFF;*/
	padding: 		.75em 1em;
	text-decoration:none;


}

/*** arrows **/
.jt-menu a.sf-sub-indicator {
	padding-right: 	2.25em;
	min-width:		5px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
/*a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers* /
}*/

/* point right for anchors in subs */
.jt-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.jt-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.jt-menu ul a:focus > .sf-sub-indicator,
.jt-menu ul a:hover > .sf-sub-indicator,
.jt-menu ul a:active > .sf-sub-indicator,
.jt-menu ul li:hover > a > .sf-sub-indicator,
.jt-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}


.jt-menu .active {
	background:  #7AB14D;
}

.jt-menu #current {
	background: #aaa;
}


.superfish_clear { 
	clear: both !important;
	height: 1px !important;
	overflow: hidden !important;
	font-size: 1px !important;
	margin: 0 !important;
	padding: 0 !important;
}


/* Gambiarra */
.moduletableprimeiro_menu .item8 ul element.style {
	z-index:9999;
}

/* Setas */
#menu .jt-menu > .deeper > a:after {
	content: " \0000a0\0000a0 ";
	margin-left: 3px;
	padding-right: 2px;
}
#menu .moduletableprimeiro_menu > ul > .deeper > a:after {
	background: url('../../../templates/ifce/images/template_novo/top_menu/menu-seta1.png') -0.5px 3px no-repeat;
	background-size: 13px 7px;
}
#menu .moduletablesegundomenu > ul > .deeper > a:after {
	background: url('../../../templates/ifce/images/template_novo/top_menu/menu-seta2.png') -0.5px 3px no-repeat;
	background-size: 13px 7px;
}

.moduletableprimeiro_menu ul li span {
	/*display: none;*/
	padding-right:5px;
}

.jt-menu a.sf-with-ul {
	padding-right:0;
}

#primeiro_menu > li > ul {
	margin-top: -7px;
}
/* Fim de setas */








/* SEGUNDOMENU */

#menu .moduletablesegundomenu {
	/*background-color:#F2F2F2;*/
	height:27px;
	width:97%;
}

#menu .moduletablesegundomenu ul {
	background-color:#F2F2F2;
	float:none;
	list-style-type:none;
	margin:0 auto 0 0;/**/
	padding:0;
	text-align:left;
}

#menu .moduletablesegundomenu li:hover {
	background-color:#DDDDDD;
	border-radius: 0;
}

#menu .moduletablesegundomenu .active {
	background: #DDDDDD;
}

#menu .moduletablesegundomenu li {
	float:left;
	background-color: transparent; 
	/*color: none;*/
}

#menu .moduletablesegundomenu a {
	/*background-image:url(../../../../templates/ifce/images/header/nav/divisor-2.gif);
	background-position:left center;
	background-repeat:no-repeat;*/
	/*border-right: #7AB14D 1px solid;*/
	color: #3B6B36;

	display:block;
	font-family:Arial,Helvetica,sans-serif;
	font-size:96%;
	font-weight:bold;
	line-height:25px;
	padding-left:17px;
	padding-right:6px;
	text-decoration:none;
}
#menu .moduletablesegundomenu li:last-child a {
	border: none;
}

#menu .moduletablesegundomenu a:hover,
#menu .moduletablesegundomenu a:active,
#menu .moduletablesegundomenu a:focus {
	background-color:transparent;
}

#menu .moduletablesegundomenu ul > li > ul {
	margin-top: -7px;
}

/* Setas */
.moduletablesegundomenu ul li .sf-sub-indicator {
	/*
	background: url('../../../templates/ifce/images/template_novo/top_menu/menu-seta2.png') -2.5px 1px no-repeat;
	top: 0.8em;
	right: 10.2px;
	*/
}
.moduletablesegundomenu ul li ul .sf-sub-indicator {
	background: none;
}

/* FIM DE Setas */
/*==========================================*/


/* Banner
===========================================*/
#galeria {
	left: 183px;
	position: absolute;
	margin-top: -12px;/*margin-top: -25px;*/ /* DIF 38px */

}

#galeria img {
	width:590px;
	height:230px;
	border-radius: 22px;
}

.joomla_ins #pix_pag {
	top: -14px;
}
.joomla_ins #pix_commands {
	left: -9px;
}

/*==========================================*/


/* CORPO CONTEÚDO
===========================================*/

/*#corpo_conteudo {
	margin:24px auto 10px;
	width:960px;
    font-size: 87%;
	font-family: Arial, Helvetica, sans-serif ;
	color:#FF6600;
}*/

/*PESQUISAR
===========================================*/
#pesquisar {
	/*
	left:788px;
	position:absolute;
	top:55px;
	width:18%; */

	left: 787px;
    position: absolute;
    top: 64px;
    width: 19%;
}


#pesquisar input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:105%;
	list-style-type:none;
}


#pesquisar input#mod_search_searchword {
	border-color:#75B042;
	border-style:solid;
	border-width:1.9px;
	border-radius: 4px;

	width:93px;
	color:#666666;
	background-image:url("../images/ico/nav_ger_busca.gif");
	background-repeat:no-repeat;

	/*float:left;*/

	font-family:Arial,Helvetica,sans-serif;
	font-size:100%;

	padding-left:15px;
	padding-top:2px;

	margin-right:3px;
	margin-top:0.5px;
}

.button_pesquisar {
	width:auto;
	border-color:#75B042;
	border-style:solid;
	border-width:1.5px;
	border-radius: 3px;

	background-color: #FFFFFF;
}



#titulo_pesquisar {
	color:#FF6600;
	font-size:24px;
	font-weight:bold;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
}

.searchintro {
	margin-top:5px;
}

#pesqCaixa1 {
	margin-bottom:5px;
}
#total_resultados {

}
#pesquisar_novamente {
	float:right;
	margin-top:-15px;
}

/*BREADCRUMB
===========================================*/
#navegacao_intr {
	text-indent:-5000px;
	width:0;
	height:0;
}

#navegacao {
	width:66%;
	padding-bottom:0px;
	position:relative;
	/*left: -295px;*/
	/*top:27%;*/
	top:-9px;

	margin-left:5px;
	font-size: 87%;
	font-family: Arial, Helvetica, sans-serif ;
	color:#FF6600;
}
#navegacao a {
	text-decoration: none;
	color: #666666;
}
#navegacao a:hover {
	color: #FF6600;
}
#navegacao strong {
	margin-right: 5px;
	font-weight: normal;
}

#navegacao img {
	margin-left: 3px;
	margin-right: 2px;
	/*background-image:url("../images/header/nav/nav_dir.gif") no-repeat scroll right top transparent;*/
	/*nav_dir.gif*/
}

/*==========================================*/
#footer {
	font-size: 11px;
	width: 750px;
	text-align: right;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	padding-bottom: 20px;
	padding-top: 5px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;

}

/*=========================================*/


#col_direita{
	border:0 none;
	/*left:763px;*/
	position:absolute;
	top: 174px;
	left: 6px;
}
	
#col_direita #menu ul li a span {
background:red;
}

#iniciodocorpo_conteudo {
	width:0;
	height:0;
}

/*=========================================*/

#apresentacao {
	border-left:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	margin-top:15px;
}


#apresentacao ul{
	list-style:none outside none;
	padding:0;
}

#apresentacao li{
	list-style-type:none;
	text-decoration:none;
}

#apresentacao a {
	border:0 none;
	line-height:20px;
	text-decoration:none;
	background:url("../images/ico/link_pdf.gif") no-repeat scroll right transparent;
	padding-right:17px;
}

#apresentacao img{
	border:0 none;
	padding-right:5px;
	margin:2px;

}

/*=========================================*/
#onde-estamos h2, #video h2{
	border-top-left-radius: 9px;
	border-top-right-radius:9px;
	color: #FFF;
	background:#BBBDBF;
	/*width:170px;*/
	height:22px;
	vertical-align: middle;
	line-height:23px;
	text-align:center;
}


#onde-estamos h2 {
	position: relative;
	top: 243px;
}

#onde-estamos {
	/*border-bottom:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;*/
}
#campi {
    background: none repeat scroll 0 0 #D1D2D2;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 122%;
    font-style: normal;
    font-weight: bold;
    height: 22px;
    line-height: 23px;
    position: relative;
    text-align: center;
    top: 239px;
    vertical-align: middle;
}
#onde-estamos h2 a {
	color:#FFFFFF;
	}


#onde-estamos #lista_campus {
	/*background:none repeat scroll 0 0 #F8F8F8;*/
	border: 1px solid #DDDDDD;
	border-top: none;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 36px;
}

#onde-estamos img {
	position: relative;
	/*top: -26px;*/
	top: -14px;
	width: 165px;
	height:200px;
}

#lista_campus ul{
	list-style:none outside none;
	padding:0;


}

#lista_campus li {
	border-bottom:1px solid #CACACA;
	margin:0;
	padding:0;
}
#lista_campus li:last-child {
	border-bottom: none;
}

#lista_campus a:hover {
	text-decoration:none;
	color: #FFF;
}
#lista_campus li:hover {
	background: #7AB14D;
	border-bottom: none;
	color: #FFF;
}

#lista_campus a {
	color:#666666;
	font-size:99%;
	line-height:20px;
	padding:0 0 0 20px;
	text-decoration:none;

	display: block;
	width:143px;
	
}

#mapa_ifce {
	margin-left:15px;
	margin-top:5px;
}


/* Destaques
=========================================*/
#noticias_novo {
	width:100%;
	background-color: #FFFFFF;
}


#conteudo-ini {
	margin-left:10px;
	margin-right:10px;
	width:80.5%;
	position:relative;
	top: 234px;
	left:173px;
	/*height:450px;*/
	/*float:right;*/
	/*background-color:#0099CC;*/
}
#destaques {
	/*background-color:#F2F2F2;*/
	text-align:left;
	width:100%;
	height:auto;
	/*top:-102px;*/
}
#destaques h2 {
	background-color: transparent;
	/*border-bottom: #BBBDBF 2px solid;*/
	font-size: 140%;
	color: #929497; /*#373435;*/
}

#destaques h3 {
	font-family:Arial,Helvetica,sans-serif;
	font-size:108%;
	text-decoration:none;
	/*width:165px;*/
	padding-bottom: 3px;
}
.contentpagesubtitle {
	padding-top: 3px;
	text-align:center;
	font-size: 135%;
	color: #666666;
}

#destaques a {
	color:#221F20;
	text-decoration:none;
}
#destaques a:hover {
	text-decoration:underline;
}

#destaques p img {
	/*width:160px;
	height:70px;*/
	width: 100px;
	height:100px;
	border-radius: 10px;
	float: left;
	margin: 10px;
	margin-top: -30px;
	margin-left: 0;
}



.col_destaques {
	display:table-cell;
}

.info_destaques {
	float:left;
	/*height:163px;*/
	margin:0;
	padding:6px 6px 3px;
	text-align:left;
	width:47%;
}

.info_destaques h3 {
	margin-left: 111px;
	height: 30px;
}

#destaques .info_destaques-linha0 .info_destaques h3  {
	width:98%;
	height:auto;
	font-size: 180%;
	margin-left: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#destaques .info_destaques-linha0 .info_destaques {
	 width:590px;
	margin-bottom: 10px;
}

#destaques .info_destaques-linha0 .info_destaques p {
	font-size: 122%;
	font-weight: bold;
}





/*Eventos
=========================================* /
#eventos {
	background:#F7F7F7;
	float:right;
	padding:0;
	text-align:left;
	width:32%;
	height:auto;
	position:relative;
	/*top:-102px;* /
}

#eventos img {
	width:160px;
	height:70px;
}

.contentpaneopen{
	text-align:justify;
}

#eventos h3 {
	color:#588CB8;
	font-family:Arial,Helvetica,sans-serif;
	font-size:122%;
	width:160px;
}
#eventos a{
	color:#0066CC;
	text-decoration:none;
}
/*=========================================*/


.info_noticias {
	/*height:182px;*/
	margin:0;
	text-align:justify;
	width:170px;
}

.info_noticias .article_separator {
    height:0px
}


.info_noticias object {
	width:193px;
	height:200px;
}

.contentpaneopen p{
	font-size:11px;
	padding-top:2px;
	padding-left:6px;
	text-align:justify;
	width:160px;
}



.foto{
margin-bottom:5px;
}



/*SAIBA MAIS
====================================*/
#saiba-mais {
	color:#999999;
	float:left;
	height:auto;
	/*padding-bottom:62px;*/
	padding-top:14px;
	width:100%;
}

.box-saiba_mais {
 	font-family:Arial,Helvetica,sans-serif;
	/*color:#0066CC;*/
	color:#727376;
	font-size:122%;
	text-decoration:none;
	font-weight:bold;
	line-height:22px;
}

#saiba-mais h2 {
	border-top: #BBBDBF 2px solid;
}

#saiba-mais a{
	/*color:#0066CC;*/
	color:#727376;
	text-decoration:none;
}

#saiba-mais a:hover {
	/*color:#FF6600;*/
	/*text-decoration:none;*/
}

.box-saiba_mais a:link{
	color:#999999;
	text-decoration:none;
}

#saiba-mais_mais {
	text-align:right;
	font-size: 120%;
	margin-top:5px;
}

#saiba-mais_mais a {
	padding:1px 5px 0 5px;
	/*
	border-top: 1px solid #666;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	*/
}
#saiba-mais_mais a:hover {
	color:#727376;
	text-decoration:underline;
}


/*=================================*/

/* PÁGINA INTERNA - Listar artigos
===================================*/
#conteudo_completo .category-list {
	margin: 50px;
}

#conteudo_completo .category-list .pagination {
	margin-top: 20px;
}

#conteudo_completo .category-list li {
	list-style: none;
	float:left;
	margin: 5px;
	
}
/*=================================*/

/*MENU APRESENTAÇÃO INSTITUCIONAL
===================================*/


#apresentacao ul li {
	padding-left:25px;
}

/*=================================*/

#coluna_esquerda {
	width: 19%;
	position: absolute;
	left: 771px;
	top:  21%;
 }

#coluna_esquerda #banners{
	position:absolute;
	padding-top: 234px;
}

#coluna_esquerda #banners img{
	
	width: 165px;
	height:50px;
	margin:5px 5px 5px 21px;
}


#menu_lateral {
background:none repeat scroll 0 0 #F8F8F8;
border:1px solid #DDDDDD;
position:absolute;
	top:447px;
width:19%;
left:0px;
}

#menu_lateral ul{
	list-style:none outside none;
	padding:0;
	text-align:left;

}

#menu_lateral li{
	border-bottom:1px dotted #CACACA;
	margin:0;
	padding:0;
}

#menu_lateral a {
	color:#669900;
	font-size:99%;
	line-height:29px;
	padding:2px 0 2px 20px;
	text-decoration:none;

}

#menu_lateral a:hover {
	color:#FF6600;
	text-decoration:none;
}

#menu_lateral li.parent {
	border-bottom:none;
}

#menu_lateral li.parent li {
	/*margin:2px 2px;*/
}

#menu_lateral li.parent ul li a span {
	padding-top:2px;
	/*padding-left:-2px; não pode ser negativo!!!*/
	font-size:82%;
	color:#FF6600;
	font-weight: bold;
}



.lateral_direito-lista_links ul {
	padding-bottom:5px;
	padding-top:5px;
}
.lateral_direito-lista_links li {
	padding-bottom:5px;
	color:#666666;
	font-size:112%;
}





.newsflash_banners {
	float:left;
	height:auto;
	position:absolute;
	/*top:583px;*/
	top: 37%;
	line-height:21px;
}

.banners ul {
	list-style-type:none;
	padding:0px;
	margin-top:5px;
}

.newsflash_banners p {
	height:auto;
	margin-bottom: 18px;
}


/* Login
=============================================================== */
#com-form-login {
	padding-top: 15px;
}


#login {
	border-bottom:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	margin-top:15px;
}

#login fieldset {
	border: none;
}


/* Rodapé
=============================================================== */
#rodape {
	border-top:2px solid #CCCCCC;
	clear:both;
	font-size:104%;
	margin:0 auto;
	padding-bottom:20px;
	padding-top:5px;
	text-align:center;
	width:94%;
	color: #96989A;
}
#rodape a {
	color: #FF6600;
}


/* Links
================================================================= */

.contLink a {
	position: relative;
	padding: 0px;
	margin-right:0px;
	z-index:24;
}

.contLink a:hover {
	background:transparent;
	z-index: 25;
}

.contLink a span {
	display:none;
}

/*=================================*//*=================================*/

/*ARTIGOS
==================================*/

#artigos{
	left: 7px;
	position:relative;
	top:38px;
	width:100% /* 755px; /* 515px; /*697px;*/
}


#artigos a {
	color:#0066CC;
	text-decoration:none;
}

#artigos h3 a {
color:#666666;
font-size:140%;
font-weight:normal;
text-decoration:none;
line-height:25px;
}

#artigos p{
color:#666666;
font-family:Arial,Helvetica,sans-serif;
font-size:105%;
text-decoration:none;
line-height:17px;
margin-bottom:1em;
margin-left:0;
margin-right:0;
margin-top:1em;
}

#artigos > p > span {
	font-size: 105%;
	color: #666666;
}

#artigos img{
text-align:center;
display: block;
margin: 0 auto 0;
padding: 5px;
float:left;
border-radius:30px;

}

#artigos > h2 > span {
color:#FF6600;
font-size:24px;
font-weight:bold;
margin:0;
padding-bottom:5px;
padding-top:5px;
}

#artigos ul li {
font-size:12px;
color:#666666;

}


#artigos .createdby {
	color:#999999;
	font-family:Tahoma,Verdana,Arial,sans-serif;
	font-size:11px;
	line-height:1.3em;
}

#contentheading{
	/*background:red;*/
}

#conteudo1 {
	/*float:left;*/
	/*padding-top:50px;*/
	width: 76%;
    left: 190px;
    position: relative;
}

#conteudo1 img {	
	float:right;
	
}

.corpoCatList, #artigos .corpoCatList {
	float:left;
	padding: 0 25px 10px 25px;
	width:18%;
	height:150px;
}

#artigos .corpoCatList {
	width:31%;
}
.corpoCatList h4 a, #artigos .corpoCatList h4 a {
	background-image:none;
	color:#669900;
	display:block;
	float:none;
	margin:0;
	padding:0 0 2px;
	text-decoration:none;
	width:170px;
	border-bottom:2px solid #CCCCCC;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
}

#artigos .corpoCatList h4 {
	width:auto;
	height:auto;
	padding:0;
	border:0;
	text-transform:none;
}
#artigos .corpoCatList h4 a {
	width:auto;
	height:auto;
}

#artigos .corpoArtigoList {
	height: 230px;
}

p.mais a, #artigos p.mais a {
	background-image:url("../images/ico/indice_mais_duplo.gif");
	background-position:left center;
	background-repeat:no-repeat;
	color:#669900;
	display:block;
	margin-top:0;
	padding:0 10px 0 0;
	text-align:right;
	text-decoration:none;
	width:95%;/*160px;*/
}

p.mais a:houver, #artigos p.mais a:houver{
	background-image:url("../images/ico/indice_mais_duplo.gif");
	background-position:left center;
	background-repeat:no-repeat;
	color:#FF6600;
}

/*Listar conteúdo
==================================*/
#conteudo_completo {
	left: 190px;
    position: relative;
    width: 755px;
	top: -10px;
	min-height:500px;
}

#conteudo_completo #artigos {
	width:95%;
	min-height: 500px;  /* adicionado para corrigir tamanho da página com a coluna 'Campi' -- NilsonBraga */
}


.categorias {
	position:relative;
	width: 100%;
	margin-top: 50px;
}

#filtrarExibir {
	margin-top:15px;
}

.category {
	width: 700px;
}
/*REDES SOCIAIS
==================================*/
.redes_sociais {
	height: auto;
	left: 389px;
	position: relative;
	top: -75px;
	width: 10%;
	left: 374px;
}
.redes_sociais ul .twitter {
background-image:url("../images/template_novo/cabecalho/twitter.png");
background-position:10px center;
background-repeat:no-repeat;
list-style-type:none;
}
.redes_sociais ul #twitter {
	background-image:url("../images/template_novo/cabecalho/twitter.png");
	background-repeat:no-repeat;
	list-style-type:none;
	padding-bottom: 3px;
	padding-left: 8px;
}

.redes_sociais ul #facebook {
background-image:url("../images/template_novo/cabecalho/facebook.png");
background-repeat:no-repeat;
list-style-type:none;
padding-bottom: 3px;
}

.redes_sociais ul li {
float:left;
}

.redes_sociais ul a {
color:#666666;
display:block;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:87%;
line-height:20px;
padding:0 1px 0 20px;
text-decoration:none;
text-transform:uppercase;
}

.redes_sociais ul .facebook {
background-image:url("../images/template_novo/cabecalho/facebook.png");
background-position:10px center;
background-repeat:no-repeat;
list-style-type:none;
}
/*BARRA CABEÇALHO - PARTE SUPERIOR
==================================*/

#barra_cabecalho {
    border-top: 2px solid #CCCCCC;
    clear: both;
    color: #96989A;
	float:right;
	position:relative;
	top: -82px;
    width: 57%;
}


/*=================================*//*=================================*/


/*=================================*//*=================================*/

/*ACESSIBILIDADE
==================================*/

#acessibilidade{
	background:#FFFFFF;
	float:right;
	height:23px;
	margin-top:-89px;
	width:568px;
	list-style-type:none;
	color:#999999;
	font-size:12px;
}

#acessibilidade ul{
	list-style:none outside none;
	float:left;
	margin-right:5px;
	color:#999999;
}

#acessibilidade ul li {
	float:left;
	margin-right:5px;
	padding-left:-11px;

}

#acessibilidade a {
	text-decoration:none;
	color:#231F23;
}

#acessibilidade ul#atalhos {
	float:left;
	width:600px;
	padding-left:7px;
	padding-top:3px;
}



a.alt {
	display:block;
	text-indent:-20000px;
	text-decoration:none;
	width:0;
	height:0;
}

#acessibilidade #botoes_acessibilidade li {
	margin:0 0 0 10px;
}
#acessibilidade #botoes_acessibilidade {
	float:right;
	position:relative;
	top:8px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 104%;
}
ul#botoes_acessibilidade li a {
height:13px;
padding-left:23px;
color: #666666;
}


ul#botoes_acessibilidade li a.aumenta_letra {
background:url("../images/template_novo/acessibilidade/A_aumentar.png") no-repeat scroll left bottom transparent;
padding-top:8px;
line-height:28px;
}

ul#botoes_acessibilidade li a.diminui_letra {
background:url("../images/template_novo/acessibilidade/A_diminuir.png") no-repeat scroll left bottom transparent;
padding-top:8px;
line-height:28px;
}

ul#botoes_acessibilidade li a.tamanho_normal {
background:url("../images/template_novo/acessibilidade/A_normal.png") no-repeat scroll left bottom transparent;
padding-top:8px;
line-height:28px;
}

ul#botoes_acessibilidade li a.alto_contraste {
background:url("../images/template_novo/acessibilidade/A_contraste.png") no-repeat scroll left bottom transparent;
padding-top:8px;
line-height:28px;
}



/*=================================*//*=================================*/

/*EDITAR
==================================*/
.conteudoEditar {
	text-align:right;
}
.conteudoEditar img {
	width:18px;
	height:18px;
	border:none;
}
#divisorio{
background-color:#EFF8F4;
float:left;
height:90px;
width:960px;
}

#separador{
background-color:#CCCCCC;
height:2px;
position:relative;
top:33px;
width:100%;
}

#menu_interno_ {
	position:absolute;
	right:0;
	top:155px;
	width:25%;
}
#menu_interno{
	float:right;
	width:25%;
}


#menu_interno ul{
	list-style:none outside none;
}


#menu_interno ul a {
	background-image:url("../images/ico/nav_seta_laranja.gif");
	background-position:left 8px;
	background-repeat:no-repeat;
color:#666666;
display:block;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
padding-left:10px;
padding-top:5px;
text-decoration:none;
}


#menu_interno h5 {
	border-bottom:2px solid #CCCCCC;
	color:#FF6600;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	font-weight:bold;
	line-height:20px;
	padding-top:20px;
}

.muda-fonte{
	width:auto;
	padding-bottom:5px;
	padding-top:5px;
	text-align:right;
}

.not_moduletable{
width:221px;
}

.not-foto{
margin-bottom:20px;
}

#noticias_geral{
width:554px;
}

#video {
	color:#999999;
	/*float:left;*/
	height:auto;
	margin:-435px 0 0;
	width:100%;
	position: absolute;
	left: 784px;
	top:431px;
	width: 160px;
}

#video p embed {
height:194px;
width:189px;
}

#video h4 {
	text-align: center;
	padding-bottom: 5px;
}

#div-videos_mais {
	width: 92px;
	margin: auto;
}

#video a {
	color: #929497;
	text-decoration: none;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 108%;
}
#video a:hover, #video a:visited {
	text-decoration: underline;
}

/*-------------------------------------------*/

/* Sistema dos artigos */


#artigos #legenda_img {
	font-size:16px;
	font-style:italic;
	font-weight:normal;

	margin:0;
	padding:0;
	padding-bottom:20px;
	padding-top:5px;

	color:#555555;
	font-family:Arial,Helvetica,sans-serif;
	
	line-height:1.3em;
}

#artigos h4 {
	color:#555555;
	font-family:Arial,Helvetica,sans-serif;
	border-bottom-color:#999999;
	border-bottom-style:solid;
	border-bottom-width:1px;
	font-size:12px;
	font-weight:bold;
	padding-top:10px;
	text-transform:uppercase;
	margin-bottom:25px;
	padding-top:25px;
}

#artigos h5 {
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	
	margin-bottom:1.0em;
}

#artigos .sumario {
table-layout:inherit;
}

#artigos .sumario ul {
	padding:0;
	margin:0;
	display:table-cell;
}

#artigos .sumario ul li {
	font-size:12px;
	float:left;
	display:block;
}

#artigos .sumario ul li a {
	font-size:12px;
	background-image:url("../images/ico/seta_pra_baixo_pra_cima.gif");
	background-position:left center;
	background-repeat:no-repeat;
	color:#006CD9;
	display:block;
	float:left;
	padding-left:10px;
	padding-right:9px;
	text-decoration:none;
}

#artigos .sumario ul li a:hover {
	background-image:url("../images/ico/seta_pra_baixo_pra_cima.gif");
	background-position:-560px center;
	background-repeat:no-repeat;
	color:#555555;
}


#artigos .topo_ir, #artigos .sumario_ir {
	margin:0;
	padding:0;

	background-image:url("../images/ico/sumario_pra_cima.gif");
	background-position:right center;
	background-repeat:no-repeat;
	color:#666666;
	float:right;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9px;
	font-weight:bold;
	padding-right:10px;
	text-align:right;
	text-decoration:none;
	width:70px;
	
	margin-top:-25px;
}

#artigos a.link-ext {
	background-attachment:scroll;
	background-image:url("../images/ico/link_externo.gif");
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:15px;

	color:#0066CC;
	text-decoration:none;
}

#artigos .box-coord {
	width:100%;
}

#artigos .box-coord .foto-coord{
	margin:0;
	padding:0;

	float:left;
	height:60px;
	width:60px;
}

#artigos .box-coord .box-dados {
	margin:0;
	padding:0;

	padding-left:25px;
	width:500px;
}

#artigos .box-coord .box-dados li {
	display:block;
}



.invisivel{
	text-indent:-20000px;
	display:block;
	height:0px
	
}

.invisivel-ext{
	text-indent:-20000px;
	display:block;
	height:0px;
	float:left;
	
}

.menu-email{
/*	height: 0px; */
	left: 366px;
	position: relative;
	top: -67px;
	width: 50%;
}

.menu-email ul .email {
background-image:url("../images/template_novo/cabecalho/webmail.png");
background-position:7px center;
background-repeat:no-repeat;
list-style-type:none;
padding-left:15px;
}

.menu-email ul li {
float:left;
padding-left:10px;
}

.menu-email ul a {
color:#666666;
display:block;
float:left;
font-family:Arial,Helvetica,sans-serif;
font-size:104%;
line-height:20px;
padding: 0 16px 0 16px;
text-decoration:none;
	padding-top: 5px;
}

.menu-email ul .academico {
background-image:url("../images/template_novo/cabecalho/academico.png");
background-position:7px center;
background-repeat:no-repeat;
list-style-type:none;
padding-left:15px;
}
.menu-email ul .radio {
background-image:url("../images/template_novo/cabecalho/radio_web.png");
background-position:7px center;
background-repeat:no-repeat;
list-style-type:none;
padding-left:15px;
}

.menu-email ul .suap {
background-image:url("../images/template_novo/cabecalho/suap.png");
background-position:7px center;
background-repeat:no-repeat;
list-style-type:none;
padding-left:15px;
}


#barra-cima{
background-color:#CCCCCC;
height:10px;
margin:0 0 10px;
padding:0;
width:100%;
position:relative;
}


/*Clipagem Virtual*/

.artigos-clipagem_virtual-escondido a, .artigos-clipagem_virtual-escondido   {
	list-style-type:none;
	background:red;
	text-indent:-20000px;
	display:block;
	height:0px
	
}


.artigos-clipagem_virtual-escondido ul{
	list-style-type:none;
	text-indent:-20000px;
	display:block;
	height:0px
}

.artigos-clipagem_virtual-escondido p{
	text-indent:-20000px;
	display:block;
	height:0px
}

.box-clipagem_virtual h4{
}

.artigos-clipagem_virtual-MosEsc {
	color: #0066CC;
    cursor: pointer;
	float:right;
	margin-top:-25px;
	background-position:10px center;
	background-repeat:no-repeat;
}

/* CALEDÁRIO LETIVO
================================================================= */
/* ESPACO ENTRE MESES
================================================================= */


/* xxxx */

#linha{
	width: 750px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}


/* CALENDARIO
================================================================= */
.calendario-calendario-letivo {
	float:right;
	margin-top:10px;
}

#box-calendario_letivo-ano {
	text-align:center;
	font-size:16px;
	color:#666666;
}

.mes {
	margin-top: 31px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	background-color: ;
	height: ;
	width: 170px;
}
.mes td {
	text-align: center;
	font-size: 12px;
	height: 24px;
	width: 24px;
	vertical-align: middle;
	line-height: 24px;
	background-color: ;
}
.cal-tit-mes td {
	font-weight: bold;
	text-transform: uppercase;
	background-color: #D7D7D7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
.cal-semana td {
	font-weight: bold;
	background-color: #E4E4E4;
	position:relative;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
.cal-semana1, tr.cal-semana2, tr.cal-semana3, tr.cal-semana4, tr.cal-semana5, tr.cal-semana6 {
	font-weight:none ;
	background-color:none ;
}
.cal-feriado {
	font-weight: bold;
	color: #FF0000;
}
.cal-doming {
	font-weight: bold;
	color: #FF0000;
}

.dias{
	text-align:center;
}


/* Q-Acadêmico
================================================================= */
.q-academico_titulo {
	color: #ff6600;
	font-size:22px;
	font-weight: bold;
	line-height:normal;
}

.q-academico_titulo_nome {
	color: #ff9933;
	font-size:26px;
}

.q-academico_titulo_web {
	color: #ff6600;
}

.sistema{
	border:#CCCCCC dotted 1px;
	padding-left:5px;
	width:19%;
	margin-left:5px;
}
#sistema_academico a {
	color:#666666;
	font-size:16px;
	text-decoration:none;
}
#sistema_academico p {
	padding:0px;
	margin-top:5px;
	margin-bottom:5px;
}


/* Gerais
================================================================= */
.centralizado {
	text-align:center;	
}

/* Cursos ofertados
================================================================= */
.lista_cursos {
	width: 850px;
}

.cursos_divisoes {
	margin: 0 auto;
}
.cursos_divisoes_tecnico, .cursos_divisoes_superior, .cursos_divisoes_posgraduacao, .cursos_divisoes_extensao {
	text-align: left;
	float: left;
	width: 180px;
	margin: 0px;
	padding: 0px;

	padding-left: 5px;
	padding-right: 8px;
	border-right: 2px solid #CCCCCC;
}

.cursos_divisoes_titulo {
	font-size: 145%;
	font-weight: bold;
	color: #FFFFFF;

	background-color: #999999;
	width: 180px;
	padding-left: 6px;
	padding-right:7px;
	margin-left:-5px;

	display: block;
	
	line-height: 30px;
	text-decoration: none;
}

.cursos_divisoes ul {
	text-align: left;
	list-style-type: none;
	margin: 0px;
	padding: 0px 5px;
}
.cursos_divisoes ul a {
	display: block;

	color: #666666;
	text-decoration: none;
	padding-top: 5px;

	background-image: url(../images/ico/nav_seta_laranja.gif);
	background-repeat: no-repeat;
	background-position: left 8px;
	padding-left: 10px;
}
.cursos_divisoes ul a:hover {
	color: #FF6600;
}
.cursos_divisoes li {
	display: inline;
}

.cursos_divisoes h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ff6600;
	line-height: 20px;
	font-weight: bold;
	padding-top: 20px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;

}
.cursos_divisoes h6 {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 15px;

}

/* Instituição (top_menu)
================================================================= */
.blog_instituicao {
	padding-top:60px;
}

/* Iframes (wapper)
================================================================= */

.contentpane_includes {
	margin-top:47px;	
}

/* Noticias (top_menu2)
================================================================= */

.contentdescription_categ_noticias {
	margin-top:45px;
}
.componentheading_categ_noticias {
	color: #666666;

	font-size: 140%;
	font-weight: normal;

	line-height: 25px;
	font-weight: bold;

	margin-left:15px;
}

/* Vestibular e seleção de concursos
================================================================= */

.selecoes {
	padding-bottom:1px;
}

.selecoes h5 {
	width: 700px;
	text-align:left;
	color:#FF6600;;
	font-size:12px;
	border-bottom:1px dotted #BBBBBB;
}

.selecoes #curso-div {
	font-weight:bold;
	width: 100px;
	text-align:right;
	color:#333333;
	float:left;
}

ul.selecoes {
    color:#666666;
	list-style-type:none;
	padding-top:15px;
}

ul.selecoes a:hover {
	text-decoration:none;
	color:#FF6600;

}

ul.selecoes a{
	color:#999999;
	font-size:12px;
	font-weight:bold;
}

ul.selecoes li {
	padding-left: 15px;
	margin-left: 30px;
	background-repeat: no-repeat;
	background-position: left 4px;
	padding-left:15px;
}

ul.selecoes li sup {
	color:red;
	font-size:11px;
	font-weight:bold;
	line-height:normal;
	vertical-align: super;
}

ul.selecoes li a {
	color:#0066CC;
	font-size:12px;
	font-weight:bold;
	padding-top:10px;
	line-height:22px;
}

ul.selecoes li span {
	color:#0033CC;
	font-size:11px;
	font-weight:bold;
	line-height:normal;
}
ul.selecoes a:houver {
	color:#FF0000;
}

.titulo_selecoes {
	border-bottom:2px solid #CCCCCC;
	color:#FF6600;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	font-weight:bold;
	line-height:20px;
	padding-top:20px;
}


.informacao_selecoes {
	color:#FF6600;
	font-size:13px;
	font-weight:bold;
	margin-top:5px;
}

#curso-cont {
	float:right;
	width:555px;
	margin-bottom:5px;
}
#curso-cont li {
	display:block;
}

sup {
	color:#F00;
}

#categoriasList{
	padding-top:60px;
}

.blog_ensino {
    padding-top: 60px;
}

.blog_pesquisa {
    padding-top: 60px;
}


#menu_interno h6 {
 	font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 0;
    margin: 24px 0 6px 25px;
}

/*=============================================================== */
/* Calendário de eventos:
http://www.ifce.edu.br/calendario-de-eventos.html */

.componentheading_calEventos {
	font-weight:bold;
	font-size:160%;
	margin-bottom:20px;
}

.sectiontableentry1_calEventos td {
	padding-top:10px;
	font-size:120%;
}
/*=============================================================== */
/* Sistemas... */

/* Chrono Forms
================================================================= */
.chronoform {
	visibility:hidden;
}

.barra_onde_estamos{
	border-bottom: 3px solid #80CC28;
	font-size:12px;
	margin-bottom: 21px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top:25px;
	}


/* Vídeos
================================================================= */
#video #player_video a {
	display:block;
	width:178px;
	height:190px;
}

#artigos #player_video a {
	display:inline-block;
	width:600px;
	height:337.5px;
}